<% if current_user %>
 <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Login", login_path %>
<% end %>

<h1>LinkBox</h1>

<div class="search">
  <p>Search: <input type="text" name="search" id="search-bar"> </p>
</div>

<h3>Add new link:</h3>
<%= form_for Link.new do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url, "URL" %>
  <%= f.text_field :url %>
  <%= f.submit "Add link" %>
<% end %>

<h3>Your Links</h3>
  <div id="links-list">
  <table>
    <tr id="header-row">
      <th>Title</th>
      <th>Link</th>
      <th>Read?</th> 
      <th>Update Status</th> 
      <th>Edit</th> 
    </tr>
    <% @links.each do |link| %>
    <tr class="link" data-id="<%= link.id %>" id='status-<%=link.read%>' >
      <td class='title-field' data-id="<%= link.id %>" contenteditable="true"> <%= link.title %> </td>
      <td class='url-field' data-id="<%= link.id %>" contenteditable="true"> <%= link.url %> </td>
      <td id='link-status-<%=link.id%>'>Read? <%= link.read %></td>
      <td class="button" id="toggle-link-status"><button data-id="<%= link.id %>" class="button" data-status="<%=link.read%>"><% if link.read %>Mark as Unread<% else %> Mark as Read <% end %></button></td>
      <td class="edit"> <%= link_to "Edit", edit_link_path(link) %> </td>
    </tr>
    <% end %>
  </table>
</div>
  