<% if current_user %>
 <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Login", login_path %>
<% end %>

<h1>LinkBox</h1>

<h3>Add new link:</h3>
<%= form_for Link.new do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url, "URL" %>
  <%= f.text_field :url %>
  <%= f.submit "Add link" %>
<% end %>

<div class="links-list">
  <h3>Your Links</h3>
  <table>
    <tr id="header-row">
      <th>Title</th>
      <th>Link</th>
      <th>Read?</th> 
      <th>Update Status</th> 
    </tr>
    <% @links.each do |link| %>
    <tr data-id="<%= link.id %>">
      <td> <%= link.title %> </td>
      <td> <%= link.url %> </td>
      <td> <%= link.read %> </td>
      <td id="toggle-link-status"><button class="button" data-status="<%=link.read%>"><% if link.read %>Mark as Unread<% else %> Mark as Read <% end %></button></td>
    </tr>
    <% end %>
  </table>
</div>
  